body{
    background-color: rgb(24, 24, 24);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    min-height: 100%;
}

html{
    position: relative;
    min-height: 100%;
}

hr{
    margin: 2%;
}

header{
    position: sticky;
    top: 0px;
    border-bottom: 1px solid gray;
}

.header{
    padding: 0.5%;
    text-align: center;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 32, 32, 0.99);
}
.header-kiri {
    padding: 20px 30px;
    margin: 10px;
    font-family: monospace;
    font-size: 0.75cm;
}
.header a{
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    margin: 10px 0px;
    transition: 0.2s;
    font-size: medium;
    font-family: sans-serif;
}

.header-kanan{
    float: right;
    display:flex;
}

div.searchBox {
    border-radius: 40px;
    padding: 20px 30px;
    margin: 7px;
}

footer{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    border-top: 1px solid gray;
    color:white;
}
.btn-link {
    background: none!important;
    border: none;
    color: white;
    cursor: pointer;
    font-size: medium;
    padding: 0px;   
}

.header form{
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    margin: 10px 0px;
}
.formdata {
    padding: 20px 30px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}
.formdata table{
    width: 25%;
}
th, td {
    height: 40px;
}
.formdata td:last-child{
    text-align: right;
}
.formdata tr.alert td.alert{
    text-align: center;
    color: red;
}
.formdata tr:last-child .submit{
    text-align: center;
}

.containerAdd {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerAdd a:link {
    color: white;
    text-decoration: none;
}
.back {
    position:fixed;
    top: 15%;
    left: 4%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(218, 218, 218);
    text-decoration: none;
    color: darkblue;
}